body,p{
background-color:#E6F0FA
}
body,p{
    color: #003366
}
h2{
    color: #800000
}
header{
    background-color: #DC143C;
    color: #F5F5F5;
}
footer{
    background-color: #1C1C1C;
    color: #DC143C;
}